@import url('https://fonts.googleapis.com/css2?family=Atomic+Age&family=Water+Brush&display=swap');


.header{
    font-family: 'Atomic Age', cursive;
    background-color: #131A25;
    color: white;
    margin: 0px;
    padding-top: 20px;
    padding-left: 20px;
}